{% include 'base.html' %}

{% block content %}

<main class="home-container pt-4">
    <div class="row g-5">
      <div class="col-md-8">
        <ul class="nav home-nav nav-underline d-flex justify-content-right">
            <li class="nav-item text-center" style="width: 10%;">
                <a class="nav-link" aria-current="page" href="#">+</a>
            </li>
            <li class="nav-item text-center" style="width: 10%;">
              <a class="nav-link active" aria-current="page" href="{% url 'latest' %}">Latest</a>
            </li>
            <li class="nav-item text-center" style="width: 10%;">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item text-center" style="width: 10%;">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item text-center" style="width: 10%;">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          
      </div>
      
      <div class="side-content col-md-4">
        <div class="position-sticky" style="top: 8rem;">
            <div>
                <h5 class="">Recent</h5>

            </div>
        </div>
      </div>
    </div>
</main>
  

{% endblock %}